ion-avatar {
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;
    max-height: 100px !important;
}

ion-slides.categorias ion-slide ion-card{
    width: 107.333px !important;
//    height: 125.3px !important;
}

ion-slides.categorias ion-slide ion-card img{
    width: 107.333px !important;
    height: 75.033px !important;
    background-color: #ce6b44;
}

ion-slides.categorias ion-slide ion-card ion-card-header{
    padding-inline-start: 3px !important;
    padding-inline-end: 3px !important;
}

.nome {
    font-size:25px;
}

.tipo {
    right:50px;
    color: gray !important;
}

.dist {
    /*float:right;
    bottom:50%; */
    color: gray !important;
}

.detalhes {
    position:relative;
    width:100%;
}

.avancar {
    float:center;
}

.icon {
    float:right;
    bottom:50%;
}