ion-avatar {
    width:100% !important;  
    height : 100% !important;  
    /*max-width: 200px !important;
    max-height: 200px !important;*/
}

.nome {
    font-size:25px;
}

.tipo {
    right:50px;
}

.dist {
    float:right;
    bottom:50%;
}

.detalhes {
    position:relative;
    width:100%;
}

.avancar {
    float:center;
}