<ion-header>
  <ion-toolbar>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="item">
    <ion-avatar slot="start">
      <img src="../../../assets/images/batata.jpg">
    </ion-avatar>
    <div class="detalhes">
      <ion-label text-wrap class="produto">Batata-Frita</ion-label>
      <ion-label text-wrap class="ingredientes">Batata e Sal</ion-label>
    </div>
    <div class="compra">
      <ion-label class="preco">R$12,00</ion-label>
      <ion-button shape="round">Remover item</ion-button>
    </div>
  </ion-item>

  <ion-button style="margin-top:45px" (click)="alerta()" expand="block">Comprar</ion-button>

</ion-content>
