.nome {
    font-size:25px;
}

.tipo {
    right:50px;
}

/*.dist {
    float:right;
    bottom:50%;
}*/

.detalhes {
    position:relative;
    width:100%;
}

.avancar {
    float:center;
}

.icon {
    float:right;
    bottom:50%;
}