ion-avatar {
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;
    max-height: 100px !important;
}

.produto {
    bottom:30px;
    left:20px;
    font-size:20px;
}

.ingredientes {
    right:50px;
}

.preço {
    position:absolute;
    left:50000000px;
}