ion-avatar {
    width:100% !important;  
    height : 100% !important;  
    max-width: 50px !important;
    max-height: 50px !important;
}

.produto {
    font-size:25px;
}

.ingredientes {
    right:50px;
}

.preco {
    float:right;
    bottom:50%;
    color:green !important;
}

.detalhes {
    position:relative;
    width:100%;
}

.compra {
    float:center;
    color:green;
}