<ion-header>
  <ion-toolbar>
    <ion-title>Compra Confirmada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="success-checkmark">
    <div class="check-icon">
      <span class="icon-line line-tip"></span>
      <span class="icon-line line-long"></span>
      <div class="icon-circle"></div>
      <div class="icon-fix"></div>
    </div>
  </div>


  <div class="container">
    <h1 class="t1">Sua Compra foi realizada com sucesso</h1>
    <h3 text-wrap class="t2">Seu pedido será entregue em 10 minutos</h3>
    <ion-button class="btn" [routerLink]="['/estabelecimentos']" expand="full">Voltar para os estabelecimentos</ion-button>
  </div>
</ion-content>
